*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
  #main{
    height: 100%;
    width: 100%;
    border-radius: .3335;
  }

  #nav-bar{
    height: 10%;
    width: 100%;
    background-color: #000000;
    border-radius: .3335;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #r-nav{
    display: flex;
    font-size: 1.4rem;
    gap: 2.5rem;
    padding-left: 2.8rem;
    color: #fff;
  }
  #l-nav{
    display: flex;
    padding-right: 4rem;
    height: 10vh;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 25rem;

  }
 button{
  font-size: 1.2rem;
    border-radius: 1rem;
    width: 12vw;
    border: px solid rgb(255, 255, 255);
    background: transparent;
    color: #fff;
 }

 #content{
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
  padding-left: 14%;
  padding-top: 5%;
  background-color: #000000;
 }

#card{
  height: 80%;
  width: 70%;
  display: flex;
  overflow: hidden;
}

#l-card{
  height: 100%;
  width: 50%;
}
#l-card h1{

 font-size: 3rem;
 padding-top: 20%;
 padding-left: 12%;
 font-family: 'Times New Roman', Times, serif;
 letter-spacing: 5px;
 font-weight: 900;
 color: #fff;
}
#l-card p{
  position: relative;
 font-size: 1.4rem;
 width: 30rem;
 padding-top: 8%;
 padding-left: 10%;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 400;
 color: #808080;
 word-spacing: 5px;
}

#r-card{
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
  padding-left: 15%;
}

#photo{
  height: 80%;
  width: 74%;
  border-radius: 2rem;
  background-image: url(https://images.unsplash.com/photo-1450133064473-71024230f91b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}