*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

#contaner{
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
}
 h1{
    font-size: 3.5rem;
    padding-top: 3.5rem;
    color: #790971;
}

#nav-bar{
    height: 25%;
    width: 100%;
}

#main{
    height: 80%;
    width: 100%;
}

#top-container{
    height: 40%;
    width: 100%;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    border-bottom: 1px solid black;
}

#down-container{
    height: 40%;
    width: 100%;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    border-bottom: 1px solid black;
}

#top-container #card{
    height: 70%;
    width: 16%;
    background-color: #010125;
    border-radius: 1rem;
    margin: 2rem;
}
#top-container #card1{
    height: 70%;
    width: 16%;
    background-color: #93b2f3;
    border-radius: 1rem;
    margin: 2rem;
}
#top-container #card2{
    height: 70%;
    width: 16%;
    background-color:#be1dfd;
    border-radius: 1rem;
    margin: 2rem;
}
#top-container #card3{
    height: 70%;
    width: 16%;
    background-color:#eeaeca;
    border-radius: 1rem;
    margin: 2rem;
}
#top-container #card4{
    height: 70%;
    width: 16%;
    background-color:#424153;
    border-radius: 1rem;
    margin: 2rem;
}

#down-container #card{
    height: 70%;
    width: 16%;
    background-color: #a62727;
    border-radius: 1rem;
    margin: 2rem;
}
#down-container #card1{
    height: 70%;
    width: 16%;
    background-color:#89be02ac ;
    border-radius: 1rem;
    margin: 2rem;
}
#down-container #card2{
    height: 70%;
    width: 16%;
    background-color:#831671b1;
    border-radius: 1rem;
    margin: 2rem;
}
#down-container #card3{
    height: 70%;
    width: 16%;
    background-color:  #08080a;
    border-radius: 1rem;
    margin: 2rem;
}
#down-container #card4{
    height: 70%;
    width: 16%;
    background-color: #445a8a ;
    border-radius: 1rem;
    margin: 2rem;
}
